<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <div class="row">
  <% @records.each_slice(6) do |records| %>

    <%records.each do |record| %>
        <div class="col-sm-2" style="background-color:lavender;">
          <div>
            <img src="<%= record.profile_url %>">
            <h3>
              <%= record.name %><br>
              <a href="/welcome/remove?id=<%= record.id %>">REMOVE</a>
            </h3>
          </div>

        </div>
      <% end %>

  <% end %>



  </div>
</div>

</body>
</html>





<%= will_paginate @records %>